<p>
  <div class="panel panel-default">
    <div class="panel-body currdata">
      <div class="alert alert-info hide" role="alert">Запрос текущих данных поставлен в очередь
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <table class="table table-bordered table-striped">
        <thead><tr><th>Параметр</th><th>Значение</th></tr></thead>
        <tbody>
          {% for key, value in currdata.items %}
            {% if value > -1000 and value != '' %}
            <tr>
              <td>
                {{ key }}
              </td>
              <td>
                {{ value }}
              </td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      <a href="#" class="btn btn-default getcurr" role="button"><span class="glyphicon glyphicon-refresh"></span></a>
      <a href="#" class="btn btn-default pull-right makecurr" role="button">Опросить</a>
    </div>
  </div>
</p>

<script>
    $( document ).ready(function () {
      $('a.makecurr').click(function () {
        var curbtn = $(this);
        curbtn.addClass('disabled');
        window.setTimeout(function() {
            curbtn.removeClass('disabled');
            },
            60000 // disable button for 1 minute
        );
        $.ajax({
            type: 'get',
            url: 'makecurrent/' +  $('a.treeitem.active').data('id') + '/',
            success: function (data) {
                $('.alert').removeClass('hide');
            }
        });
      });

      $('a.getcurr').click(function () {
        var itemid = $('a.treeitem.active').data('id');
        console.log(itemid);
        GetCurrData(itemid);
      });
    });
</script>