{% extends "base.html" %}

{% block tree %}
<div id="tree" class="panel panel-default" style="max-height:600px;">
  <div class="list-group">
    {% for object in objects %}
      <a href="#" class="list-group-item treeitem" data-id="{{ object.objectcode }}">
        {{ object.name }}
      </a>
    {% endfor %}
  </div>
</div>

<script>
    function GetCurrData(objectid) {
        $.ajax({
            type: 'get',
            url: 'getcurr/' + objectid  + '/',
            success: function (data) {
                $('#currdata').html(data);
            }
        });
    }
    $( document ).ready(function () {
        $('a.treeitem').click(function () {
            $('a.active').removeClass('active');
            $(this).addClass('active');
            var itemid = $(this).data('id');
            GetCurrData(itemid);
        });
    });
</script>
{% endblock %}