{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">

    <title>Учет газа</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Custom styles for this template -->
    <link href="{% static 'custom.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </head>

  <body>

    {% include "menu.html" %}

    <div class="container">
      <h1></h1>
      <div class="row">
        <div class="col-md-3">

          {% block tree %}
          {% endblock %}

        </div>

        <div class="col-md-9">

            {% block content %}
            {% endblock %}

            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#currdata" data-toggle="tab">Данные</a></li>
              <!--<li><a href="#settings" data-toggle="tab">Настройки</a></li>-->
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="currdata">

              </div>
              <!--
              <div class="tab-pane" id="settings">
                <p>
                <div class="panel panel-default">
                  <div class="panel-body settings">
                    Panel content
                  </div>
                </div>
                </p>
              </div>
              -->
            </div>
        </div>
      </div>
    </div>

    <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
